/*Misc*/
html, body {
	width: 100%;
	height: 100%;
	padding: 0px;
	margin: 0px;	
}

/*Menu*/
.menu {
	box-sizing: border-box;
	width: 20%;
	min-width: 130px;
	height: 100%;
	text-align: center;
	font-size: 125%;
	float:left;
	z-index:1;
	color: white;
  	background-color: #111111;
	overflow: scroll;
	overflow-x: hidden;
	overflow-y: hidden;
	border-style: groove;
	border-width: 5px;
	line-height: 75%;
}
.corruptionList {
	width: 48%;
	float:left;
	text-align:right;
}
.corruptionScore {
	width: 48%;
	float:right;
	text-align:left;
}
.playerImage {
	display: block;
    margin: auto;
    width: 95%;
  	border: 3px solid white;
  	border-radius: 5px;
}
.switch {
	color: #7777EE;
	cursor: pointer;
}
.switch:hover {
	color: #9999EE;
	cursor: pointer;
}

/*Output Zone*/
.wrapper {
	width: 80%;
	height: 100%;
	float: right;
  	background-color: #221111;
	overflow: scroll;
	overflow-x: hidden;
}
.output {
	color: white;
	padding-left: 4%;
	padding-right: 4%;
	padding-top: 4%;
	font-size: 135%;
}
.fullPicture {
	display: block;
    margin: auto;
	width: 85%;
    min-width: 25%;
  	padding: 20px, 1px;
  	border: 3px solid white;
  	border-radius: 5px;
}
.bigPicture {
	display: block;
    margin: auto;
	max-width: 50%;
    min-width: 25%;
	max-height: 700px;
  	padding: 20px, 1px;
  	border: 3px solid white;
  	border-radius: 5px;
}
.medPicture {
	display: block;
    margin: auto;
    width: 25%;
  	padding: 20px, 1px;
  	border: 3px solid white;
  	border-radius: 5px;
}
.choiceText {
	color: #7777EE;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	cursor: pointer;
}
.choiceText:hover {
	color: #9999EE;
	text-align:center;
	cursor: pointer;
}
.tinyText {
	color: #BBBBBB;
	text-align:center;
	margin-left: auto;
	margin-right: auto;
	width: 400px;
	font-size: 70%;
}
.specialText {
	color: lightgreen;
	font-weight: bold;
}

/*Dialogue*/
.textBox {
	position: relative;
	display: block;
	width: 98%;
  	min-height: 92px;
	padding: 5px;
	overflow: hidden;
  	background-color: #111122;
  	border: 3px solid white;
  	border-radius: 5px;
}
.textBox p {
	margin: 0px;
	padding: 0px;
}
.textThumb {
	position: relative;
  	display: block;
    margin: auto;
  	padding: 1px;
 	height: 84px;
	width: 84px;
  	float: left;
	overflow: hidden;
  	margin: 0px 10px 0px 0px;
  	border: 3px solid white;
  	border-radius: 5px;
}
.textName {
	color: white;
	margin: 0px;
	padding: 0px;
	font-weight: bold;
}

/*Windows*/
.windowTitle {
	width: 100%;
	height: 60px;
	text-align: center;
	color: white;
	font-size: 30px;
	border-bottom: 3px solid white;
	cursor: pointer;
}
.windowLeft {
	position:absolute;
	box-sizing: border-box;
	position: block;
	height: 80%;
	width: 50%;
}
.windowRight {
	position:absolute;
	box-sizing: border-box;
	left:50%;
	position: block;
	height: 80%;
	width: 50%;
}

/*Save Menu*/
.save {
	position: absolute;
	top: 10%;
	left:30%; 
	width: 60%;
	height: 80%;
	background-color: #000000;
  	border: 3px solid white;
  	border-radius: 5px;
	z-index: 1;
	padding: 0px;
	overflow: scroll;
	overflow-x: hidden;
}
.saveSlot {
	position: block;
	width: 100%;
	height: 60px;
	background-color: #333333;
}

.saveName {
	position: absolute;
	color: white;
	left: 150px;
	margin:1%;
	font-size: 22px;
}

.saveButton {
	color: white;
	padding: 1%;
	margin-left: 1%;
	font-size: 26px;
	text-align: center;
	width: 90px;
  	border: 3px solid white;
  	border-radius: 5px;
	cursor: pointer;
}

.saveFileButton {
	color: white;
	padding: 1%;
	margin-left: 1%;
	font-size: 26px;
	text-align: center;
	width: 200px;
  	border: 3px solid white;
  	border-radius: 5px;
	cursor: pointer;
}

.loadButton {
	position: absolute;
	color: white;
	left: 250px;
	margin:1%;
	font-size: 22px;
	cursor: pointer;
}

.loadFileButton {
	position: absolute;
	color: white;
	left: 250px;
	margin:1%;
	font-size: 22px;
	width: 250px;
	cursor: pointer;
}

.deleteButton {
	position: absolute;
	color: white;
	left: 350px;
	margin:1%;
	font-size: 22px;
	cursor: pointer;
}

.saveDate {
	position: absolute;
	color: white;
	right: 4%;
	margin:1%;
	font-size: 22px;
}

/*Inventory Menu*/
.inventory {
	position: absolute;
	top: 10%;
	left:30%; 
	width: 60%;
	height: 80%;
	background-color: #000000;
  	border: 3px solid white;
  	border-radius: 5px;
	z-index: 1;
	overflow: scroll;
	overflow-x: hidden;
}
.item {
	position: block;
	height: 75px;
	width: 90%;
	background-color: #333333;
	margin-bottom: 10px;
}
.itemName {
	position:absolute;
	color:white;
	left: 150px;
	font-size: 22px;
}
.itemImage {
	position:relative;
	height: 69px;
	width: 69px;
	left: 30px;
  	border: 3px solid white;
  	border-radius: 5px;
}
.tooltip {
	position: relative;
	display: inline-block;
	border-bottom: 1px dotted black;
}
.tooltip .tooltiptext {
	visibility: hidden;
	width: 350%;
	background-color: #555;
	color: #fff;
	text-align: center;
	border-radius: 10px;
	padding: 5px 0;
	position: absolute;
	z-index: 1;
	bottom: -100%;
	left: 100%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}
.tooltip:hover .tooltiptext{
	visibility: visible;
	opacity: 1;
}
.itemQuantity {
	position:absolute;
	color:white;
	left: 330px;
	font-size: 22px;
}

/*Logbook*/
.logbookLeft {
	position:absolute;
	box-sizing: border-box;
	position: block;
	top: 90px;
	height: 80%;
	width: 20%;
}
.logbookRight {
	position:absolute;
	box-sizing: border-box;
	left:20%;
	position: block;
	height: 80%;
	width: 80%;
}
.logbookSwitch {
	text-align: center;
	color: #7777EE;
	cursor: pointer;
	font-size: 22px;
  	border: 3px solid white;
  	border-radius: 5px;
	width: 90%;
	margin-left: 2.5%;
	line-height: 2;
}
.logbookSwitch:hover {
	text-align: center;
	color: #9999EE;
	cursor: pointer;
	font-size: 22px;
  	border: 3px solid white;
  	border-radius: 5px;
	line-height: 2;
}
.self {
	position: absolute;
	top: 10%;
	left:30%; 
	width: 60%;
	height: 80%;
	background-color: #000000;
  	border: 3px solid white;
  	border-radius: 5px;
	z-index: 1;
	padding: 0px;
	overflow: scroll;
	overflow-x: hidden;
}
.selfImage {
	margin-left: 10px;
	margin-right: 10px;
	float: right;
	width: 40%;
  	border: 2px solid white;
  	border-radius: 5px;
}
.selfDesc {
	display: inline;
	color: white;
	font-size: 20px;
	line-height: 1.2;
}

.selfSwitch {
	display: inline;
	color: #7777EE;
	cursor: pointer;
}

.selfSwitch:hover {
	display: inline;
	color: #9999EE;
	cursor: pointer;
}

/*Shop*/
.shopItem {
	cursor: pointer;
	position: block;
	width: 100%;
	height: 80px;
	background-color: #333333;
}
.shopName {
	pointer-events: none;
	width: 200px;
	float: left;
	margin-left: 15px;
	color: white;
	left: 30%;
	font-size: 22px;
}
.shopDesc {
	pointer-events: none;
	float: left;
	margin-left: 15px;
	color: white;
	padding-top: 10px;
	width: 50%;
	left: 40%;
	font-size: 16px;
}
.shopPrice {
	pointer-events: none;
	float: left;
	margin-left: 15px;
	color: white;
	left: 90%;
	font-size: 22px;
}
.shopImage {
	pointer-events: none;
	float: right;
	margin-right: 15px;
	height: 69px;
	width: 69px;
  	border: 3px solid white;
  	border-radius: 5px;
}

/*Wardrobe*/
.wardrobeItem {
	cursor: pointer;
	position: block;
	height: 75px;
	width: 90%;
	background-color: #333333;
	margin-bottom: 10px;
	z-index: 2;
}
.wardrobeLeft {
	position:absolute;
	box-sizing: border-box;
	position: block;
	height: 80%;
	width: 50%;
}
.wardrobeRight {
	position:absolute;
	box-sizing: border-box;
	left:50%;
	position: block;
	height: 80%;
	width: 50%;
}

/*Footer*/
.footer {
	height: 0%;
	overflow: hidden;
}
.footer .switch {
	font-size: 300%;
	height: 100px;
	width: 33%;
	margin: auto;
	margin-top: 50px;
	text-align: center;
	box-sizing: border-box;
	float: left;
  	border: 3px solid white;
  	border-radius: 5px;
}